@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fffdfa;
  --foreground: #2f2a20;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* 
      PCがダークテーマだから一旦コメントアウト
      --background: #2f2a20;
      --foreground: #fffdfa; 
    */
    --background: #fffdfa;
    --foreground: #2f2a20;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* スクロールバーを非表示にするカスタムクラス */
.scrollbar-hide {
  -ms-overflow-style: none; /* IEとEdge */
  scrollbar-width: none;    /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;            /* Chrome, Safari, Edge */
}

/* スピンアイコンのスタイル */
.spinner {
  width: 3rem; /* アイコンのサイズ */
  height: 3rem;
  border: 4px solid rgba(0, 0, 0, 0.1); /* 外側の薄いボーダー */
  border-top-color: #333; /* 回転する部分の色 */
  border-radius: 50%; /* 円形 */
  animation: spin 1s linear infinite; /* アニメーション */
}

/* スピンアニメーション */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ロード画面のコンテナ */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* ビューポート全体に表示 */
  background-color: white; /* シンプルな白背景 */
  color: #333; /* テキストカラー */
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
  text-align: center;
  flex-direction: column;
}

/* ロード画面のテキスト */
.spinner-text {
  margin-top: 1rem; /* スピナーとの間隔 */
}

